[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp

